.userPage {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  z-index: 100;
}

.userPage_header {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  height: 650px;
}

.userPage_header_backbutton {
  position: sticky;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.userPage_header_backbutton_btn {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

.userPage_header_backbutton_btn:hover {
  background-color: #c1c1c1;
}

.userPage_header_backbutton_btn img {
  width: 25px;
  height: 25px;
}

.userPage_header_backbutton_userInfo {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.userPage_header_backbutton_userInfo span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userPage_header_backbutton_userInfo span h3 {
  margin: 0;
  margin-right: 10px;
}
.userPage_header_backbutton_userInfo span img {
  width: 24px;
  height: 24px;
}
.userPage_header_backbutton_userInfo p {
  margin: 0;
  color: #525252;
}

.userPage_header_user {
  height: 200px;

  position: relative;
  width: 100%;
}

.userPage_header_user_back {
  width: 100%;
  height: 200px;
  background-image: url("https://picsum.photos/seed/picsum/2000/1000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.userPage_header_user_avatar_section {
  bottom: -55px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.userPage_avatar {
  width: 100px;
  height: 100px;
  background-color: #525252;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-left: 16px;
}

.userPage_avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userPage_header_user_actions {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userPage_header_user_actions_btn {
  width: 42px;
  height: 42px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.userPage_header_user_actions_btn:hover {
  background-color: #bdbdbd;
}
.userPage_header_user_actions_btn img {
  width: 24px;
  height: 24px;
}

.userPage_header_user_actions_btn_follow {
  width: 120px;
  padding: 12px 0;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}
.userPage_header_toFollow {
  background-color: #000;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.userPage_header_toFollow:hover {
  background-color: #272727;
}

.userPage_header_toUnfollow {
  background-color: #fff;
  color: #000;
  border: 1px solid #c7c7c7;
  transition: all 0.25s ease-in-out;
}
.userPage_header_toUnfollow:hover {
  background-color: #ffdada;
  border: 1px solid rgb(253, 63, 63);
  color: rgb(253, 63, 63);
}

.userPage_header_user_actions_btn_follow p {
  margin: 0;
  font-weight: 800;
}

.userPage_header_user_bio {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.userPage_header_user_bio_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userPage_header_user_bio_name h2 {
  margin: 0;
}
.userPage_header_user_bio_name img {
  width: 24px;
  height: 24px;
}

.userPage_header_user_bio_id p {
  color: #525252;
  margin-top: 5px;
}

.userPage_header_user_bio_description {
}
.userPage_header_user_bio_description p {
  color: #272727;
  margin-top: 0px;
}

.userPage_header_user_bio_badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25px;
}

.userPage_header_user_bio_badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userPage_header_user_bio_badge img {
  margin-right: 7px;
  width: 24px;
  height: 24px;
}
.userPage_header_user_bio_badge p {
  margin: 5px;
  color: #949494;
}
.userPage_header_user_bio_badge a {
  text-decoration: none;
  color: var(--color-primary);
}
.userPage_header_user_bio_badge a:hover {
  text-decoration: underline;
}

.userPage_header_user_follow {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.userPage_header_user_follow_counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.userPage_header_user_follow_counter:hover {
  text-decoration: underline;
}
.userPage_header_user_follow_counter p {
  color: #949494;
}
.userPage_content {
  height: 200vh;
}
